/* Estilos body */
/* Se añaden margenes interiores en los laterales, ademas de establecer un ancho y altura para la imagen logo de la barra de navegacion */

body{
    padding-left: 1% ;
    padding-right: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 92%;
}
img{
    width: 2%;
    height: 2%;
    max-width: 2%;
    max-height: 2%;
}
p{
    margin-left: 10px;
}

/*  */


/* Estilos para cabecera */
/* Se le añaden estilos a la barra de navegacion, para que sea mas operativa para el ususario, tanto a la barra como a los items.
Se le da estilo al titulo principal */

header{
    background-color: #e1e6ed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.barra-navegacion{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding: 1em;
    margin: auto;
    
}

.item{
    background-color: #b0b4ba;
    color: black;
    border-radius: 12%;
    font-size: medium;
    padding: 10px   

}

.item:hover{
    transition: all 0.2s ease-in-out;
    background-color: black;
    color: white
}
#titulo{
    margin: 0%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #d4d9e0;

}
/* Fin de estilos cabecera */

/* Estilos main  index.html*/
/* Codigo que se ira reutilizando en diferentes ambitos como la barra de navegacion y demas, se le da forma a las diferentes secciones del main y la barra laterall de navegacion */

main{
    background-color: cadetblue;
    display: flex;
}


.p-aside{
    display: flex;
    align-items: baseline;

}

.primera-section{
    margin-right: 10px;
    max-width: 80%;
}
.segunda-section{
    width: 25%;
}
#barra.barra-navegacion{
    gap: 20px;
    position: fixed;
    flex-direction: column;
    max-width: 30%;
}

/*  */

/* Estilos footer */
/* Estilos diferentes para el footer, diferente color para la apreciacion, espacio entre footer y main */
footer{
    background-color: rgb(67, 194, 194);
    text-align: center;
}

.contacto{
    list-style: none;    
    
}
h1,h2,h3{
    margin-left: 10px;
}
/*  */

/* css Formulario de contacto */


#caja{
    justify-content: center;
    

}

.campo-contacto{
    
    display: flex;
    flex-direction: column;
    background-color: #6ebabf ;

}

/* CSS IoT_Vehiculos */
/* Se hace uso del css del main principal ademas de añadir diferentes aspectos a items puntuales como a la imagenes y a las listas */
.p-aside_2{
    display: flex;
    flex-direction: column;
    
}

.imagen_2{
    width: 40%;;
    display: block;
    margin: auto;
    margin-bottom: 20px ;
    max-width: 40%;
}
table{
border: 1px solid;
margin-left: 10px;

}
th{
    background-color: #75c3c6;
}

td{
    background-color: #96fbff;
}

/*  */

/* css IoT_Hogar */
/* Se reutiliza codigo desde el main y se implenta una pqueña apreciacion para los enlaes a diferentes paginas apra descargas */
p a{
    color: white;
}



/*  */