/* Estilos para cabecera */

header{
    background-color: #e1e6ed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.barra-navegacion{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding: 1em;
    margin: auto;
    
}

.item{
    background-color: #b0b4ba;
    color: black;
    border-radius: 10%;
    font-size: medium;
    padding: 10px   
}

.item:hover{
    transition: all 0.2s ease-in-out;
    font-size: large;
    background-color: black;
    color: white
}
/* Fin de estilos cabecera */

/* Estilos main */

.p-aside{
    display: flex;
    align-items: baseline;
}

main{
    background-color: cadetblue;
    display: flex;
}
.Primera-section{
    margin-right: 10px;
}


/*  */






footer{
    background-color: greenyellow;
}